

body {
    background-color: white; 
    display: flex;
    justify-content: center; 
    align-items: center;     
}

ol, ul {
    margin-left: 20px;
    margin-bottom: 20px;
}

p{
    margin-bottom: 20px;
}

#content {
  
  
  
           
  margin: 50px auto;         
  padding: 40px;             
  
}

h1, #firstp{
  text-align: center;
}



h1, h2 {
    margin-bottom: 15px;
}
